.env
_ide_*
/.git
/.idea
/.tmp
/storage/app/backup-temp
/storage/app/backups
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/node_modules
/vendor
