/node_modules
/logs
/public/hot
/public/build
/public/storage
/storage/*.key
/tests/Controller/logs
/vendor
/.idea
/.tmp
/.vscode
/.vagrant
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*
!.env.dev
!.env.docker.production
!.env.sqlite.production
!.env.local.production
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
