/node_modules
/logs
/public/hot
/public/storage
/public/mix-manifest.json
/resources/lang/vendor
/storage/*.key
/tests/Controller/logs
/vendor
/.idea
/.tmp
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
linkace
