<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
  <testsuites>
    <testsuite name="Commands">
      <directory suffix="Test.php">./tests/Commands</directory>
    </testsuite>
    <testsuite name="Components">
      <directory suffix="Test.php">./tests/Components</directory>
    </testsuite>
    <testsuite name="Controller">
      <directory suffix="Test.php">./tests/Controller</directory>
    </testsuite>
    <testsuite name="Database">
      <directory suffix="Test.php">./tests/Database</directory>
    </testsuite>
    <testsuite name="Helper">
      <directory suffix="Test.php">./tests/Helper</directory>
    </testsuite>
    <testsuite name="Models">
      <directory suffix="Test.php">./tests/Models</directory>
    </testsuite>
  </testsuites>

  <extensions>
    <extension class="Tests\Bootstrap"/>
  </extensions>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>

  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:cQiwS51aa/3oti4KXHtj8mZLNyiDTA7BCAB5GIMvg5w="/>
    <env name="APP_DEMO" value="false"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
</phpunit>
