.bookmarklet-logo {

  .svg-path {
    fill: $white;
  }

  .svg-stroke {
    stroke: $white;
  }
}

.form-control {

  &:disabled,
  &[readonly] {
    opacity: .5;
  }
}

.card-footer {
  border-top: 0;
}

.badge.badge-light {
  background-color: $gray-800;
  color: $body-color;

  @include hover-focus-active {
    background-color: $gray-700;
  }
}

.btn-outline-primary {
  background-color: $primary;
  color: $body-color;

  @include hover-focus-active {
    background-color: lighten($primary, 5%);
  }
}
