.form-control {

  &:disabled,
  &[readonly] {
    opacity: .5;
  }
}

.card {
  box-shadow: $box-shadow-sm;
  border-left: 0;
  border-right: 0;
  border-color: transparent;
}

.card-table {
  padding: 0 1px;
}

.table thead th {
  border-top: 0;
}

.badge.badge-light {
  background-color: $gray-800;
  color: $body-color;

  @include hover-focus-active {
    background-color: $gray-700;
  }
}

.btn-outline-primary {
  background-color: $primary;
  color: $body-color;

  @include hover-focus-active {
    background-color: lighten($primary, 5%);
  }
}
